* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

header {
	background: 
	/*top, transparent #92C7b0*/
	linear-gradient(
        rgba(0, 0, 0.5, -.6),
        rgba(0, 0.5, 0.9, 0.6)
	     ),
	/*bottom, image*/
	url(../images/bg6.jpg);
	background-size: cover;
	background-position: center-right;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
}

.header-text {
	text-align: center;
}

.header-text h1{
	padding-top: 12rem;
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 4rem;
	font-weight: 900;
	clear: both;
	transition: 1.5s;
}

span {
	display: none;
}

.header-text button  {
	margin-top: 2rem;
	height: 3rem;
	width: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	font-family: 'Montserrat', sans-serif;
	border-radius: 10px;
	font-weight: 700;
	letter-spacing: 1px;
	cursor: pointer;
	border: 0;
	text-transform: uppercase;
	text-align: center;
	background-color: white;
}

.header-text button:hover {
	background-color: lightgray;
	color: black;
	transition: .5s;
	transform: scale(1.1);
}

/*Nav Menu*/
.navbar {
	position: fixed;
	padding: 1rem;
	width: 100%;
	z-index: 1;
	text-transform: uppercase;
}

.navmenu{
	text-align: center;
}

.navmenu ul{
	display: flex;
	justify-content: space-around;
/*	margin-left: .5rem;
	margin-right: .5rem;*/

}



.navmenu li,a {
	list-style: none;
	text-decoration: none;
	padding: 0 .5rem;
	margin-top: 1rem;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: .8rem;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 2px 2px black;
}

.navmenu a:hover {
	color: gray;
	border-top: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	padding-top: .5rem;
	padding-bottom: .5rem;
	transition: .3s;
}

.main-cards-container {
    min-height: 50vh;
    margin-right: 1rem;
	margin-left: 1rem;
}

.cards-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

.cards-gallery {
	background-color: lightgray;
	max-width: 100%;
	text-align: center;
	border: 3px solid lightgray;
	max-height: 20rem;
	padding: 1rem;
	box-shadow: 1px 5px 5px gray;
	overflow: hidden;
	border-radius: 10px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

}


.cards-gallery h3 {
	font-family: 'Raleway', sans-serif;
	margin: .5rem;
	letter-spacing: 1px;
	color: gray;
	font-size: 1rem;
}

.cards-gallery p {
	line-height: 1.2;
	font-family: 'Montserrat', sans-serif;
	font-size: .8rem;
	margin-left: .5rem;
	margin-right: .5rem;
}

.cards-gallery img {
	height: 5rem;
	width: auto;
}

/*BOX*/

.main-box-container {
	min-height: 50vh;
    margin-right: 1rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
}


.box-container{
	padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

.box {
	text-align: center;
	max-height: 20rem;
	padding: 1rem;
	overflow: hidden;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.box img{
	height: 8rem;
	width: auto;
}

.box h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	letter-spacing: 1px;
	margin-top: .5rem;
	margin-bottom: .5rem;
	color: gray;
}

.box p {
	line-height: 1.2;
	font-family: 'Montserrat', sans-serif;
	font-size: .8rem;
	padding-right: .5rem;
	padding-left: .5rem;
	text-align: left;
}

/*Testimonials*/

.main-testimonials-container {
	background: 
	/*top, transparent #92C7b0*/
	linear-gradient(
        rgba(0, 0, 0.5, 0.5),
        rgba(0, 0.5, 0.9, 0.5)
	     ),
	/*bottom, image*/
	url(../images/rent2.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
	padding-bottom: 1rem;
}

.testimonials-container {
	margin-left: 1rem;
	margin-right: 1rem;
}

.main-testimonials-container h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	text-align: center;
	padding-top: 1rem;
	color: white;
	font-weight: 900;
	letter-spacing: 1px;
}

.testimonials {
	font-size: 0.8rem;
	font-family: 'Montserrat', sans-serif;
	margin-top: 1rem;
	border: 2px solid white;
	padding: 1rem;
	border-radius: 10px;
}

.testimonials h3{
	margin-bottom: .5rem;
	color: white;
	font-weight: 400;
	line-height: 1.2;
	text-align: left;
}

.testimonials p {
	color: white;
	text-transform: uppercase;
}

/*CONTACT*/

.contact-container {
	background: 
	/*top, transparent #92C7b0*/
	linear-gradient(
        rgba(0, 0, 0.5, 0.5),
        rgba(0, 0.5, 0.9, 0.5)
	     ),
	/*bottom, image*/
	url(../images/rent3.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh; 
}

.contact {
	min-height: 100vh;
	margin-left: 1rem;
	margin-right: 1rem;
	padding-bottom: 1rem;
	padding-top: 2rem;

}

.contact-container h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	text-align: center;
	padding-top: 1rem;
	margin-bottom: 1rem;
	color: white;
}

.forms {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin-bottom: 2rem;
	border: 2px solid white;
	padding: 2rem;
	border-radius: 10px;
}

.forms label {
	font-size: .9rem;
	color: white;
	font-weight: 700;
	display: block;
}



/*#textbox,#email,#textarea{
	width: 100%;
	margin-bottom: .5rem;
	padding: .2rem;
*/


#textbox{
	width: 63%;
	border: 0;
	font-family: 'Raleway', sans-serif;
	margin-bottom: .5rem;
}



#email {
	width: 64%;
	font-family: 'Raleway', sans-serif;
	margin-bottom: .5rem;
}

#textarea {
	width: 100%;
	font-family: 'Raleway', sans-serif;
	margin-bottom: .5rem;

}

#textbox:focus {
	background-color: lightgray;
}

#email:focus {
	background-color: lightgray;
}

#textarea:focus {
	background-color: lightgray;
}

#submitbtn {
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
	text-transform: uppercase;
	border: 0;
	letter-spacing: 1px;
}

#submitbtn:hover {
	background-color: lightgray;
}

.location iframe {
	height: 20rem;
	width: 100%;
	opacity: .8;
	border-radius: 10px;
}




/*FOOTER*/
.footer {
	height: 80px;
	background-color: lightgray;
	text-align: center;
}

.footer h1 {
	font-size: .8rem;
	padding: 1rem;
	color: gray;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

.footer a {
	color: gray;
	font-size: 1.5rem;
}

.footer i:hover {
	transform: scale(1.2);
	color: black;
	transition: .5s;
}











@media only screen and (min-width: 961px){
		.header-text h1{
		padding-top: 12rem;
		font-family: 'Raleway', sans-serif;
		color: white;
		font-size: 7rem;
		font-weight: 900;
		clear: both;
	}

		span {
			display: inline;
		}


	.header-text button  {
		margin-top: 2rem;
		height: 3rem;
		width: auto;
		padding-left: 2rem;
		padding-right: 2rem;
		font-family: 'Montserrat', sans-serif;
		opacity: .9;
		border-radius: 10px;
		font-weight: 700;
		letter-spacing: 1px;
		cursor: pointer;
		border: 0;
		text-transform: uppercase;
		text-align: center;
		font-size: 1rem;
		color: black;
		background-color: white;
	}

	.header-text button:hover {
		background-color: lightgray;
		color: black;
		transition: .5s;
		transform: scale(1.1);
	}

	.navbar {
		position: fixed;
		padding: 1rem;
		width: 100%;
	}


	.navmenu{
		display: inline;
		background-color: gray;
	}

	.navmenu ul{
		display: flex;
		float: right;
		clear: both;

	}



	.navmenu li,a {
		list-style: none;
		text-decoration: none;
		margin-right: 1rem;
		margin-top: 1rem;
		color: white;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.2rem;
		text-shadow: 2px 2px black;
		font-weight: 700;
		text-transform: uppercase;

	}

	.navmenu a:hover {
		color: gray;
		border-top: 2px solid lightgray;
		border-bottom: 2px solid lightgray;
		padding-top: .5rem;
		padding-bottom: .5rem;
		transition: .3s;
	}

	.main-cards-container {
		height: 100vh;
		padding-top: 5rem;
	    margin-right: 1rem;
		margin-left: 1rem;
	}

	.cards-container {

		display: flex;
		padding-top: 2rem;
   		padding-bottom: 2rem;
    	margin-bottom: 1rem;

	}

	.cards-gallery {
		background-color: lightgray;
		width: 25%;
		margin-left: 1rem;
		margin-right: 1rem;
		text-align: center;
		border: 3px solid lightgray;
		min-height: 2rem;
		padding: 1rem;
		box-shadow: 1px 5px 5px gray;
		overflow: hidden;
		border-radius: 10px;
	}

	.cards-gallery h3 {
		font-family: 'Raleway', sans-serif;
		margin: .5rem;
		letter-spacing: 1px;
		color: gray;
		font-size: 1rem;
	}

	.cards-gallery p {
		line-height: 1.3;
		font-family: 'Montserrat', sans-serif;
		font-size: .8rem;
		text-align: center;
	}

	.cards-gallery img {
		height: 5rem;
		width: auto;
	}

	/*BOX*/
	
	.main-box-container {
		height: 50vh;
		display: flex;
		margin-bottom: 1rem;
	}

	.box-container {
		display: flex;
	}

	.box p{
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.main-testimonials-container h2 {
		font-family: 'Raleway', sans-serif;
		font-size: 2rem;
		text-align: center;
		padding-top: 1rem;
		color: white;
		font-weight: 900;
		letter-spacing: 2px;
	}

	.testimonials-container {
		display: flex;
		justify-content: space-around;
		margin-left: 1rem;
		margin-right: 1rem;
		margin-bottom: 1rem;
	}

	.testimonials {
		width: 40%;
		justify-content: space-around;
		font-size: 0.8rem;
		font-family: 'Montserrat', sans-serif;
		margin-top: 2rem;
		margin-bottom: 1rem; 
		border: 2px solid white;
		padding: 1rem;
		border-radius: 10px;
	}

	.testimonials h3{
		margin-bottom: .5rem;
		color: white;
		font-weight: 400;
		line-height: 1.3;
		text-align: left;
	}

	.testimonials p {
		color: white;
		text-transform: uppercase;
	}
	
	/*CONTACT*/

	.contact-container {
		background: 
		/*top, transparent #92C7b0*/
		linear-gradient(
	        rgba(0, 0, 0.5, 0.5),
	        rgba(0, 0.5, 0.9, 0.5)
		     ),
		/*bottom, image*/
		url(../images/rent3.jpg);
		background-size: cover;
		background-position:center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		min-height: 100vh; 
	}

	.contact {
		min-height: 100vh;
		margin-left: 3rem;
		margin-right: 3rem;
		display: flex;
		justify-content: space-around;
	}

	.contact-container h2 {
		font-family: 'Montserrat', sans-serif;
		font-size: 1rem;
		text-align: center;
		padding-top: 1rem;
		margin-bottom: 1rem;
		color: white;
	}

	.forms {
		font-family: 'Raleway', sans-serif;
		text-align: center;
		margin-bottom: 2rem;
		border: 1px solid white;
		padding: 2rem;
		border-radius: 10px;
		width: 30%;
		max-height: 22rem;
		margin-top: 6rem;
	}

	.forms label {
		font-size: .9rem;
		color: white;
		font-weight: 700;
		display: block;
	}

	#textbox{
		width: 50%;
		margin-bottom: .5rem;
		border: 0;
		font-family: 'Raleway', sans-serif;
	}

	#email {
		width: 50%;
		font-family: 'Raleway', sans-serif;
	}

	#textarea {
		width: 100%;
		font-family: 'Raleway', sans-serif;
	}

	#textbox:focus {
		background-color: lightgray;
	}

	#email:focus {
		background-color: lightgray;
	}

	#textarea:focus {
		background-color: lightgray;
	}

	#submitbtn {
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: .5rem;
		padding-bottom: .5rem;
		margin-top: .5rem;
		margin-bottom: 2rem;
		border-radius: 10px;
		font-family: 'Montserrat', sans-serif;
		cursor: pointer;
		text-transform: uppercase;
		border: 0;
	}

	#submitbtn:hover {
		background-color: lightgray;
	}

	.location {
		margin-top: 3rem;
	}

	.location iframe {
		opacity: .8;
		height: 22rem;
		width: 30rem;
		border-radius: 10px;
	}

	
}